<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="wu testing" parallel="tests" thread-count="5">

	<parameter name="browser" value="firefox"></parameter>
	<test name="All Browser test">
		<classes>
			<class name="com.honey.test.FirstTestNGExample"></class>
		</classes>
	</test> <!-- Test -->

	<!-- <test name="firefox test">
		<classes>
			<class name="com.honey.test.FirstTestNGExample"></class>
		</classes>
	</test>

	<test name="edge test">
		<classes>
			<class name="com.honey.test.FirstTestNGExample"></class>
		</classes>
	</test> -->
</suite> <!-- Suite -->
